body {
	color: var(--body-text-color);
	background-color: var(--body-bg-color);
}
/*=======================navigation===========================*/
.l-header .u-global-navigation {
	background-color: var(--nav-bg-color);
}
.l-header .u-global-navigation>.u-global-navigation-pages li.nav>a {
	color: var(--nav-link-color);
}
/*========================page title===========================*/
.typo-page-title {
	color: var(--page-title-color);
}
/*==========================u-card============================*/
.u-card {
	background-color: var(--u-card-bg-color);
	border-color: var(--divider-color);
	color: var(--u-card-color);
}
/*===========================u-list===========================*/
.u-list.has-linked-children>li>a {
	color: var(--u-list-color);
}
.u-list.has-linked-children>li>a:hover {
	background-color: var(--u-list-bg-hover);
}
.p-chapter-show .l-column-common.section .u-list li a.is-gate-closed::after {
	background-image: linear-gradient(
		-45deg,
		var(--gate-colosed-color-1) 25%,
		var(--gate-colosed-color-2) 25%,
		var(--gate-colosed-color-2) 50%,
		var(--gate-colosed-color-1) 50%,
		var(--gate-colosed-color-1) 75%,
		var(--gate-colosed-color-2) 75%,
		var(--gate-colosed-color-2) 100%
	);
	background-size: 10px 10px;
	background-position: fixed;
}
.u-button.type-primary-light {
	background-color: var(--u-button-bg-color-primary-light);
}
/*===========================divider============================*/
.divider {
	border-color: var(--divider-color);
}

.u-list-header {
	border-color: var(--divider-color);
}

.u-list.has-linked-children>li {
	border-color: var(--divider-color);
}
/*=========================Pankuzu list===========================*/
.u-breadcrumbs>li.current>a, .u-breadcrumbs>li.current:visited {
	color: var(--breadcrumbs-list-color);
}

.u-progress>.u-progress-labels li {
	color: var(--progress-label-color);
}
