@import url(https://tsutoringo.github.io/Nyobiko-themeCSS/defaultTheme.css);

:root {

	--nav-bg-color: var(--background-tertiary);
	--u-card-bg-color: var(--background-tertiary);
	--u-button-bg-color-primary-light: var(--background-tertiary);
	--question-list-choice-bg-color: var(--background-tertiary);


	--question-list-item-bg-color: var(--background-secondary-alt);

	--body-text-color: var(--normal-text);
	--u-list-color: var(--normal-text);
	--page-title-color: var(--normal-text);
	--breadcrumbs-list-color: var(--normal-text);
	--nav-link-color: var(--normal-text);
	--progress-label-color: var(--normal-text);

	--body-bg-color: var(--background-primary);

}